/* ######## VARIABLES ######## */

/* ######## GENERAL STYLES ######## */

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  vertical-align: baseline;
}

body {
  --primary-color: #4169e1;
  --secondary-color: #6a5acd;
  --terciary-color: #05676e;
  --dark-color: #000;
  --text-primary-color: #191970;
  --text-secondary-color: #fffafa;
  --background-primary-color: #e6eef0;
  --border-primary-color: lavender;
  --sun1-color: #edc655;
  --sun2-color: #fcffad;
  --sun3-color: #f76414;
  --main-font-weight: 500;
  --tittle-font-weight: 700;
  --main-font-size: 16px;

  /* <a href="http://www.freepik.com">Background Designed by kjpargeter / Freepik</a> */
  background-image: url("../assets/img/3.jpg");
  /* background-color: rgb(242, 242, 242);*/
  font-family: "BioRhyme", sans-serif, helvetica;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  letter-spacing: 1px;
  color: var(--text-primary-color);
}

.main-wrap {
  width: 100%;
  margin-bottom: 20px;
}

.clearfix {
  float: none;
  clear: both;
}

/* ######## HEADER ######## */

.main-header {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-flow: row nowrap;
  padding: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(79, 129, 189, 0.8);
  border-bottom: 2px solid rgba(25, 25, 112, 0.2);
  box-shadow: 0.5em 0.5em 0.7em rgba(79, 129, 189, 0.5);
  margin-bottom: 23px;
}

.h1Logo {
  font-size: 0px;
  margin: 0px 0px;
}

.img-header {
  width: 70%;
  height: 60%;
  transition: all 0.4s ease;
  transform: scale(1);
}

.social-media-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* ##### MAIN NAV HEADER ##### */

.main-nav-header {
  margin: 0 15% 0 0;
  background-color: rgba(230, 230, 250, 0.1);
}

.navigation-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(79, 129, 189, 0.3);
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.navigation-list__item {
  color: rgb(242, 242, 242);
}

.navigation-list__item--active {
  text-decoration: underline;
}

/* ######## MAIN WRAP ######## */

.main-wrap {
  justify-content: center;
}

.home-wrap {
  display: -webkit-box;
  display: -ms-flex-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
  max-width: 1250px;
}

.hello-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.hello-container h4 {
  font-size: 80px;
  color: #4169e1;
  text-shadow: 0.08em 0.08em 0.08em rgba(25, 25, 112, 0.3);
}

.hello-title {
  justify-content: flex-start;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 50px;
  padding-left: 100px;
  color: #4169e1;
}

#intro-span {
  font-style: italic;
  font-size: 20px;
  color: rgba(25, 25, 112, 0.9);
}

.link-git-profile {
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
  /*width: 66%;*/
}

.link-git-profile:hover {
  color: rgba(25, 25, 112, 0.9);
  transition: all 0.3s;
}

.animation-container {
  display: flex;
  justify-content: center;
  margin-bottom: -92px;
  margin-top: -76px;
}

h1 {
  font-family: "BioRhyme", sans-serif, helvetica;
  font-size: 35px;
  font-weight: var(--tittle-font-weight);
}

h2 {
  font-family: "BioRhyme", sans-serif, helvetica;
  font-size: 35px;
  font-weight: var(--tittle-font-weight);
}

h4 {
  font-size: 24px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px;
  margin: 3px;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgba(25, 25, 112, 0.6);
  transition: all 0.5s;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
/*
a:visited {
  color: white;
}

a:active {
  color: var(--terciary-color);
}
*/

button,
.button-cv {
  margin: 10px;
  padding: 10px;
  background-color: 4px solid rgb(79, 129, 189);
  color: rgb(79, 129, 189);
  text-decoration: none;
  font-family: inherit;
  letter-spacing: 2px;
  border-radius: 7px;
  font-weight: bold;
  border: 3px solid rgb(79, 129, 189);
  transition: all 0.5s;
}

button:hover,
button:focus,
.button-cv:hover,
.button-cv:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

button:active,
.button-cv:active {
  color: rgb(79, 129, 189);
}

/* ########  SVG ########*/
.animation-skyline {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: -30;
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: var(--sun1-color);
  }

  50% {
    fill: var(--sun2-color);
  }

  100% {
    fill: var(--sun3-color);
  }
}

/* .sun {
animation-duration: 4s;
animation-name: color-change;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
} */

.sun {
  animation: 4s color-change infinite alternate linear;
  position: absolute;
}

@keyframes cloud-move {
  from {
    transform: translate(200px, 50px);
  }

  to {
    transform: translate(400px, 50px);
  }
}

/* .cloud-front {
animation-duration: 30s;
animation-name: cloud-move;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
} */

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
  z-index: 1;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 20px);
  }

  to {
    transform: translate(100px, 20px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ######## About.html  ######## */

.about-wrap {
  display: -webkit-box;
  display: -ms-flex-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
  max-width: 1250px;
}

.about-container {
  display: flex;
  justify-content: center;
  width: 90%;
  justify-content: space-between;
}

.img-container {
  width: 90%;
}

.profile-portrait {
  width: 90%;
  border-radius: 2%;
  box-shadow: 0.5em 0.5em 0.5em rgba(79, 129, 189, 0.5);
}

.about-introduction {
  justify-content: space-between;
  padding: 20px;
  width: 80%;
}

.text-container {
  color: var(--primary-color);
}

.skills-table {
  width: 550px;
  padding: 5px;
  margin-top: 40px;
  color: var(--primary-color);
  border: 4px solid rgb(79, 129, 189);
  border-radius: 7px;
  text-align: center;
  margin-bottom: 30px;
}

.skills-table th {
  padding: 10px 15px;
  color: rgba(25, 25, 112, 0.8);
}

.wrap-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-cv {
  text-align: center;
  margin: 0;
  padding: 5px;
  width: 500px;
  margin-bottom: 30px;
  z-index: 2;
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}
/*
.button-cv:visited {
  color: white;
}*/

/* ########  Work.html / GRID ######## */

.work-wrap {
  display: -webkit-box;
  display: -ms-flex-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
  max-width: 1250px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.project-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
}
.project-wrapper__text {
  width: 33%;
  padding: 15px;
}

.text-project {
  margin-bottom: 15px;
  color: var(--primary-color);
}

.project-wrapper__text-title {
  margin-bottom: 10px;
  font-size: x-large;
  text-shadow: 0.08em 0.08em 0.08em rgba(25, 25, 112, 0.3);
  color: rgba(25, 25, 112, 0.8);
}

.cta-btn {
  border: 2px solid rgba(25, 25, 112, 0.8);
  color: rgba(25, 25, 112, 0.8);
  transition: all 0.5s;
  font-weight: bold;
}

.cta-btn:hover {
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

.project-wrapper__image {
  width: 70%;
  padding: 15px;
}

.img-project {
  width: 90%;
  box-shadow: 0.8em 0.8em 0.8em rgba(25, 25, 112, 0.3);
}

/* ########  Contact.html ######## */

.contact-wrap {
  display: -webkit-box;
  display: -ms-flex-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
  max-width: 1250px;
}

.info {
  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-weight: var(--main-font-weight);
  margin-top: 23px;
  margin-bottom: 50px;
  text-shadow: 0.08em 0.08em 0.08em rgba(25, 25, 112, 0.3);
  color: rgba(25, 25, 112, 0.8);
}

.info h4 {
  text-shadow: 0.08em 0.08em 0.08em rgba(25, 25, 112, 0.3);
}

#link-contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#link-contact p {
  margin-bottom: 15px;
}

#link-contact p a {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

#contact-form {
  letter-spacing: 1.5px;
}

#contact-form .standard-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 5px 0px;
}

#contact-form input {
  border: 3px solid rgba(79, 129, 789, 0.6);
  box-shadow: -1px solid var(--dark-color);
  width: 500px;
  height: 32px;
}

#contact-form textarea {
  border: 3px solid rgba(79, 129, 789, 0.6);
  -webkit-box-shadow: -1px solid #000;
  box-shadow: -1px solid #000;
  width: 500px;
}

#contact-message #contact-tel {
  width: 500px;
}

.button-contact-me {
  margin-left: 12px;
  width: 480px;
  padding: 5px;
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

/* ######## FOOTER ######## */

.page-footer {
  clear: both;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #4169e1;
  background-color: rgb(57, 57, 56);
  /*border-top: 2px solid rgba(25, 25, 112, 0.2);*/
}

.indexFooter {
  margin-top: -73px;
}

.page-footer > p {
  margin: 20px;
}

.page-footer a:hover {
  text-shadow: #f9af5e 0.5px 0.7px 28px;
  color: #4169e1;
  transition-duration: 0.2s;
}

.social-media {
  z-index: 10;
}

/* ######## MEDIA QUERIES ######## */

@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    -ms-grid-columns: 1fr 23px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
